.mz-footer-static {   
    .mz-l-pagecontent {
        /*padding-left: 10px;*/ 
        overflow: hidden;
        .mz-breadcrumbs {
            /*margin-left: 60px; */
        } 
    }
    p { 
        line-height: 18px; 
        margin: 20px 0;   
        font-size: 16px; 
    }
    .jb-feature-brands { 
        float: right;
        width: 62%;
        margin-right: 2.6%;
        .jb-feature-brand-listing { 
            //width: 45%;
            display: block;
            width: 89%;
            padding: 1%;  
            padding-left: 50px; 
            padding-bottom: 3%;
            float: right;
            .jb-feature-brand-item {
                box-shadow: 0 -40px 80px -80px rgba(0, 0, 0, 0.5) inset;
                padding: 10px;
                border-radius: 12px;
                float: none;
                padding-bottom: 13px;
                h3 {
                    font: bold 15px @fontFamily;
                    color: #0080b7;
                    margin-top: 0; 
                }
                figure {
                    float: left;
                    width: 24%;
                    img {
                        max-width: 100%; 
                    }
                }
                p {
                    float: right;
                    line-height: 18px;
                    margin: 10px 10px 0 20px;
                    width: 69%;
                    line-height: 18px;
                    font-size: 16px;
                    a {
                        color: #0078a7;
                        text-decoration: none;
                        &:hover {
                            text-decoration: underline;
                        }
                    }
                }
            }
        }
    }
    .vertImage {
        float: left;
        width: 31%;
        margin-left: 3.5%;
        img {
            max-width: 100%;
        }
        figcaption {
            line-height: 18px;
            font-size: 16px;
            a {
                color: #0078a7;
                text-decoration: none;
                &:hover {
                    text-decoration: underline;
                }
            }
        }
    }
    section {
        margin-top: 10px;
    }
    .txt-left {
        text-align: left !important;
    } 
    .carnival-details {
        width: 90%;
        margin: 0 auto;
        margin-bottom: 25px;
        text-align: center;
        box-shadow: 0 -40px 80px -80px rgba(0, 0, 0, 0.5) inset; 
        -moz-box-shadow: 0 -40px 80px -80px rgba(0, 0, 0, 0.5) inset; 
        -webkit-box-shadow: 0 -40px 80px -80px rgba(0, 0, 0, 0.5) inset; 
        border: 1px solid #AAABAB;
        border-radius: 15px;
        padding: 10px;
        h1 {
            color: #BC0000; 
            display: block;
            font-size: 24px;
            margin: 0 0 20px;
            text-indent: 5px;
            padding-top: 15px;
            text-align: center;
            font-weight: normal;
        }
        h2 {
            margin: 0; 
        }
        p {
            a {
                font-size: 16px;
            }
        }
        a {
            font-size: 20px;
            color: #0077a2;
            text-decoration: none;
            &:hover {
                text-decoration: underline;
            }
        }
    }
    
    section {
        .donations-article {
           /* width: 93%;
            margin: 0 auto; */
            margin-bottom: 20px;
            h1 {
                width: 100%;
                margin: 0 auto;
            }
            article {
                .listHeading {
                    margin: 0 auto !important;
                }
            }
        }
        hr {
            border: 1px dotted #ccc;
            margin: 20px auto;
            width: 90%;
            height: 0;
        }
        .txt-center {
            text-align: center;
            p {
                width: 92%;
            }
            input {
                margin-right: 30px;
            }
            #s1y, #s2y, #s3y, #s4y {
                background: #004e99;
                border-radius: 4px !important;
                -moz-border-radius: 4px !important; 
                -webkit-border-radius: 4px !important;
                color: white;
                padding: 7px 10px;
                font-size: 18px;
                border: 1px solid #004e99;
                margin-bottom: 42px;
                &:hover {
                    background: #003a72;
                    border-color: #003a72;
                }
            }
            #s1n, #s2n, #s3n, #s4n {
                background: #fff;
                border-radius: 4px !important;
                -moz-border-radius: 4px !important; 
                -webkit-border-radius: 4px !important;
                color: #003a72;
                padding: 7px 10px;
                font-size: 18px;
                border: 1px solid #003a72;
                &:hover {
                    background: #003a72;
                    border-color: #003a72;
                    color: white;
                }
            }
        }
        article {
    		.right-beans {
    			float: right;
    		 }
    		.left-beans {
    			float: left;
    		 }
    		.clear {
    			clear: both;
    		 }
    	}
    	.headline-beans {
    		h3 {
    			font-size: 16px;
    			margin: 20px 0 5px 0;
    			padding-left: 3px;
    		 }
    		h1 {
    			color: #555;
    			font-size: 20px;
    			font-weight: normal;
    			margin-bottom: 0;
    		 }
    		h2 {
    			color: #555;
    			font-size: 20px;
    			font-weight: normal;
    			margin-bottom: 0;
    		 }
    	}
    	
    /*	.mz-cms-content {
    	    padding: 0;
    	    position: relative;
    	    overflow: hidden;
    	    iframe {
    	        position: absolute;
                top: 0px;
                left: 0px;
                height: 100%;
                width: 100%;
    	    }
    	}*/
    	
    /*	.jb-calendar-iframe, .jb-spons-calendar-iframe {
    	    .mz-cms-content {
    	        padding: 10px;
    	        position: relative;
    	        overflow: hidden;
    	        padding-bottom: 0%;
    	        iframe {
    	            position: absolute;
                    top: 0px;
                    left: 0px;
                    height: 100%;
                    width: 100%;
    	        }
    	    }
    	}*/
    	.block-container {
    	    border: 1px solid #ccc;
            border-radius: 12px;
            display: inline-block;
            height: 212px;
            margin: 15px 15px 18px 60px;
            padding:20px 15px 15px 8px;
            width: 380px;
            box-shadow: 0 -40px 80px -108px rgba(0, 0, 0, 0.5) inset;
            float:left;
    		h3 {
    			margin: 0 0 20px 4px;
    			padding: 0;
    		 }
    		 h5 {
    			float: left;
    			font-size: 14px;
    			font-weight: normal;
    			margin: 0;
    			padding: 0 18px 0 0;
    			width: 230px;
    		 }
    		 .padd-left0 a {
                border-radius: 4px;
                -moz-border-radius: 4px;
                -webkit-border-radius: 4px;
                border: solid 1px #004e99;
                background-color: #004e99;
                color: white;
                font-size: 12px;
                padding: 9px;
                display: block;
                font-size: 18px;
                float: left;
                margin-top: 10px;
                text-decoration: none;
    			&:hover{
                    border: solid 1px #003a72;
                    background-color: #003a72;
                    text-decoration: none;
    			}
    		 }
    		 p {
    			.martp0 {
    				margin-top: 0;
    			 }
    			.sb-mar {
    				margin-bottom: 70px;
    				margin-top: 10px;
    			 }
    			.left-beans {
    				float: left;
    				width: 240px;
    			 }
    		}
    		figure {
    			text-align: center;
    		 }
    		figure img {
    			border: 1px solid;
    			float: right;
    			margin-right: 10px;
    		 }
    	}
    		
    		
    		
    		
    	
    	.padleft50 {
    	    padding-left: 50px !important;
    	}
    	.brown-clr {
    		color: #bc0000;
    	 }
    	.mar-top0 {
    		margin-top: 0;
    	 }
    	.padd-left0 {
    		padding-left: 0;
    	 }
    	.padd-rht0 {
    		padding-right: 0;
    	 }
    	.mar-left10 {
    		margin-left: 15px;
    	 }
    	 .img-block {
	        width:125px;
            float:left;
            margin-left:20px;
            margin-bottom:10px;
    		figure {
    			text-align: center;
    		 }
    		p {
    			a {
    				clear: left;
    				display: block;
    				font-size: 12px;
    				font-weight: bold;
    				text-align: center;
    			 }
    		}
    	}
    	.beans-btn {
    		a {

                text-decoration: none;
                background-color: #004e99;
                color: #fff;
                padding: 8px 8px;
                font-size: 18px;
                border-radius: 4px;
                -moz-border-radius: 4px;
                -webkit-border-radius: 4px;
                border: 1px solid #004e99;

                &:hover {
                    background-color: #003a72;
                    border-color: #003a72;
                }
    			
/*    			background: rgb(255,48,25);
background: -moz-linear-gradient(top, rgba(255,48,25,1) 0%, rgba(216,0,0,1) 47%, rgba(198,0,3,1) 48%, rgba(207,4,4,1) 100%);
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(255,48,25,1)), color-stop(47%,rgba(216,0,0,1)), color-stop(48%,rgba(198,0,3,1)), color-stop(100%,rgba(207,4,4,1)));
background: -webkit-linear-gradient(top, rgba(255,48,25,1) 0%,rgba(216,0,0,1) 47%,rgba(198,0,3,1) 48%,rgba(207,4,4,1) 100%);
background: -o-linear-gradient(top, rgba(255,48,25,1) 0%,rgba(216,0,0,1) 47%,rgba(198,0,3,1) 48%,rgba(207,4,4,1) 100%);
background: -ms-linear-gradient(top, rgba(255,48,25,1) 0%,rgba(216,0,0,1) 47%,rgba(198,0,3,1) 48%,rgba(207,4,4,1) 100%);
background: linear-gradient(to bottom, rgba(255,48,25,1) 0%,rgba(216,0,0,1) 47%,rgba(198,0,3,1) 48%,rgba(207,4,4,1) 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ff3019', endColorstr='#cf0404',GradientType=0 );
   */ 			
    			/*border: 1px solid #666;
    			border-radius: 3px;
    			box-shadow: 0 -80px 20px -70px rgba(0, 0, 0, 0.2) inset, 1px 1px 2px 0 rgba(0, 0, 0, 0.6);
    			color: #fff;
    			cursor: pointer;
    			font-family: @fontFamily;
    			font-size: 14px;
    			font-weight: bold;
    			line-height: 14px;
    			margin: 0;
    			padding: 5px;
    			position: relative;
    			text-decoration: none;
    			text-transform: uppercase;*/
    		 }
    		/*&:hover {
    			color: #fff;
    			text-decoration: underline;
    		 }*/
    	}
    	
        .vending-100  {
            width:91%;
            margin: 0 auto;
            h1 {
                font-family: @fontFamily;
                font-size:24px;
                color:#BC0000;
                margin:0 0 25px 0;
             }
            p {
                font-size: 16px;
                line-height: 18px;
                margin: 20px auto;
                padding: 0;
                width: 87%;
            }
	        article { 
	            .block-container99 {
		            width: 94%;
		            border:1px solid #aaabab;
		            border-radius:15px;
		            margin-top: 10px;
		            margin-bottom:25px;
		            padding: 20px 2%;
		            -webkit-box-shadow: inset 0px -40px 80px -80px rgba(0, 0, 0, .5);
	                box-shadow: inset 0px -40px 80px -80px rgba(0, 0, 0, .5);
	                .left-fleet {
            		    padding: 20px;
            		    width: 65%;
            		    float: left;
            	    }
	                figure {    
    	                padding-bottom:15px;  
    	                float: right;
    	                width: 30%;
	                    img {
    			            padding-bottom:15px;
    			            max-width: 100%;
		                }
	                }
	            }
		        .block-container80 {
                    width:80%;
                    border:1px solid #aaabab;
                    border-radius:15px;
                    margin: 30px auto;
                    margin-bottom:25px;
                    padding:6px 0 0 0;
                    -webkit-box-shadow: inset 0px -40px 80px -80px rgba(0, 0, 0, .5);
                    box-shadow: inset 0px -40px 80px -80px rgba(0, 0, 0, .5);
                    
                    .headline-beans h2 {
                        padding-left:15px;
                    }
                    ul {
                        foat:left;
                        display:block; 
                        padding: 5px 5px 5px 5px;
                        margin-bottom:0;
                        
                         .result {
                        background: none;
                        padding-left:45px;
                        overflow:hidden;
                        }
                   
                     li {
                       display:inline;
                       float:left;
                        list-style:none;
                       background: none;
                       padding:0 5px  0 5px;
                       margin-bottom:25px;
                       overflow:hidden;
                       width:116px;
                       
                       p {
                               margin:0;
                               text-align:center;
                               width:100%;
                       }
                       
                       a {
                           font-weight:bold;
                           font-size:12px;
                           dispaly:block;
                           margin-bottom:12px;
                            }
                        }
                    }
                }
            }
        }
        .donationReq {
            .finePrint {
                width: 95%;
                margin-top: 10px;
            }
            .contentList {
                li {
                    width: 62%;
                    margin: 0 auto;
                    line-height: 16px;
                }
            }
            input {
                margin-right: 30px;
            }
            h1 {
                color: #BC0000;
                display: block;
                margin: 0 0 20px 0;
                font-size: 24px;
            }
        }
        .event-color-key {
            margin-top: 20px;
            .colorKeys {
                color: #fff;
                display: inline-block;
                font-size: 14px;
                margin-left: 5px;
                padding: 3px 7px;
                margin-top: 5px;
            }
        }
        .gift-cards {
            background: url('../resources/images/footer-static/giftCards_background.jpg') no-repeat scroll center top;
            height: 600px;
            position: relative;
            .gift-details {
                float: right;
                width: 45%;
                margin-top: 15%;
                span {
                    font-size: 36px;
                }
                p {
                    font-size: 18px;
                    font-weight: bold;
                    line-height: 20px;
                }
                ul {
                    li {
                        list-style-type: none;
                        font-size: 16px;
                        padding-top: 20px;
                    }
                }
                .gift-btn {
                    padding-left: 30px;
                }
            }
        }
        .vending {
            float: left;
            width: 60%;
            .fundraisingForm {
                display: none;
            }
            .img-block{
                p{
                    padding: 0px;
                    margin: 0px;
                    width: 100%;
                }
            }
        }
        .vendingImage {
            float: right;
            width: 33%;
        }
        article {
            position: relative;
            /*margin-left: 60px;*/
            /*width: 93%;
            margin: 0 auto;*/
            .vertImage {
                position: relative; 
                float: right;
                margin: 10px 25px 10px 10px;
                width: auto;
                top: -44px;
            }
            .vol-discount {
                width: 35%;
                margin: 20px auto;
                h2 {
                    text-align: center;
                }
                table {
                    margin: 0 auto;
                    th,td {
                        font-size: 16px;
                        text-align: left;
                        padding: 1px 10px 1px 0;
                        border-right: 7px solid #fff;
                    }
                }
                
            }
            .sponsor-guide {
                width: 60%;
                margin: 0 auto;
                h3 {
                    margin: 5px;
                    padding: 0;
                    a {
                        font-size: 16px;
                    }
                }
               
            }
            .sponsor-event {
                width: 78%;
                margin: 0 auto;
                 .guidelinesList {
                    float: left;
                    width: 44%;
                    padding: 20px 0 10px 32px;
                    text-align: left;
                    li {
                        line-height: 19px;
                    }
                }
            }
            .warm-weather {
                margin-left: 50px;
                border-collapse: separate;
                th,td {
                    font-size: 16px;
                    text-align: left;
                    padding: 1px 10px 1px 0;
                    border-right: 7px solid #fff;
                }
                tbody {
                    tr:nth-child(odd) td {
                        background: none repeat scroll 0 0 #f9f9f9;
                    }
                }
            }
            .donation-list {
                float: left;
                width: 30%;
                .contentList {
                    padding-left: 17%;
                }
            }
            ul.contentList {
                padding-left: 9%;
                margin: 0;
                li {
                    font-size: 16px;
                    width: 90%;
                    list-style-type: none;
                    a {
                            color: #0077a2;
                            text-decoration: none;
                            &:hover {
                                text-decoration: underline;
                            }
                        }
                    
                }
            }
            .return-contentList {
                padding-left: 7%;
                margin: 4px 0 0 0;
                li {
                    font-size: 16px;
                    width: 90%;
                    list-style-type: none;
                }
            }
            .products-certificates {
                width: 93%;
                margin: 0 auto;
                .multiple-products {
                    float: left;
                    width: 48%;
                }
                .multiple-certificates {
                    float: left;
                    width: 51%;
                }
                ul.contentList {
                    padding-left: 13%;
                    margin: 0;
                    li {
                        a {
                            color: #0077a2;
                            text-decoration: none;
                            &:hover {
                                text-decoration: underline;
                            }
                        }
                    }
                }
            }
            .intlMainCont {
                padding: 0;
                >li {
                    list-style-type: none;
                    margin: 30px 0;
                    .contentList {
                        padding-left: 5%;
                        li {
                            a {
                                color: #0077a2;
                                text-decoration: none;
                                &:hover {
                                    text-decoration: underline;
                                }
                            }
                        }
                    }
                }
            }
            ul.circle-contentList {
                li {
                    list-style-type: disc;
                }
            }
            h2 {
                font-size: 20px;
                margin: 0 0 10px;
            }
            .red {
                color: #bc0000; 
            }
            .bold {
                font-weight: bold;
            }
            .noPad {
                padding: 0;
                margin: 0;
            }
            h3 {
                padding-left: 50px;
            }
            .finePrint {
                margin-top: 0; 
            }
            .listHeading {
                font-size: 16px;
                margin: 20px 0 0;
            }
            p {
                /*padding-left: 60px;*/
                font-size: 16px;
               /* width: 93%;
                margin: 20px auto;*/
                &.bold,.bold {
                    font-weight: bold;
                }
                &.finePrint {
                    color: #777;
                    font-size: 13px;
                }
                &.noPad {
                    padding: 0;
                    margin: 0;
                }
                &.red,.red {
                    color: #bc0000; 
                }
                a {
                    color: #0077a2;
                    cursor: pointer;
                    text-decoration: none;
                    &:hover {
                        text-decoration: underline;
                    }
                }
                
            }
            ol.contentList {
                padding-left: 9%;
                li {
                    font-size: 16px;
                    width: 90%;
                }
            }
        }

    }
    
}

.shipping-info {
    section {
        hr {
            border: 1px dotted #ccc;
            margin: 20px auto;
            width: 90%;
            height: 0;
        }
        article {
            .ptop30 {
                padding-top: 30px;
            }
            .mtop15 {
                margin-top: 15px;
            }
            ul.contentList {
                padding-left: 9%;
                margin: 0;
                li {
                    a {
                        color: #0078a7;
                        text-decoration: none;
                        &:hover {
                            text-decoration: underline;
                        }
                    }
                }
            }
            .return-contentList {
                li {
                    list-style-type: decimal;
                    a {
                        color: #0078a7;
                        text-decoration: none;
                        &:hover {
                            text-decoration: underline;
                        }
                    }
                }
            }
            .noPad {
                padding: 0;
                margin: 0;
            }
            h3 {
                padding-left: 50px;
            }
            .finePrint {
                color: #777;
                font-size: 13px;
            }
            .listHeading {
                font-size: 16px;
                margin: 20px 0 0;
            }
            ol.contentList {
                padding-left: 9%;
                li {
                    font-size: 16px;
                    width: 90%;
                }
            }
            
        }
    }
}

.social-media-links {
    .social-article {
        background: #eee;
        width: 93%;
        margin: 0 auto;
        margin-bottom: 26px;
        #get-connected-inner-container {
            padding: 2% 10%;
            img {
                width: 100%;
            }
            section {
                width: 100%;
                background: #fff;
                margin-top: 0;
                ul {
                    margin: 0;
                    padding: 0;
                    li {
                        height: 135px;
                        border-top: 2px solid #EEEEEE;
                        border-bottom: none;
                        width: 47%;
                        float: left;
                        padding: 10px;
                        background-color: #FFFFFF;
                        padding-top: 20px;
                        padding-bottom: 10px;
                        list-style-type: none;
                        &:nth-child(odd) {
                            border-right: 1px solid #ccc;
                        }
                        
                        &:nth-child(even) {
                            border-left: 1px solid #ccc;
                        }
                        a {
                            width: 130px;
                            height: 80px;
                            float: left;
                            background: url('../../resources/images/footer-static/connect-social-sprite.jpg') no-repeat;
                            display: block;
                            text-indent: -9999px;
                            &.youTube {
                                background-position: 0 -240px;
                            }
                            &.instagram {
                                background-position: 0 -160px;
                            }
                            &.pintrest {
                                background-position: 0 0;
                            }
                            &.facebook {
                                background-position: 0 -80px;
                            }
                            &.linkedin {
                                background-position: 0 -400px;
                            }
                            &.google {
                                background-position: 0 -320px;
                            }
                            &.email {
                                background-position: 0 -560px;
                            }
                            &.globally {
                                background-position: 0 -480px;
                            }
                            &:hover {
                                opacity: 0.8;
                            }
                        }
                        p {
                            width: 280px;
                            margin: 0;
                            float: right;
                            padding: 0px 5px 0 0;
                            line-height: 20px;
                        }
                    }
                }
            }
        }
    }
}
 

.sponsorship {
    .jb-feature-brands {
        float: none;
        width: 100%;
        padding-left: 9%;
        .jb-feature-brand-listing {
            //width: 45%;
            display: inline-block;
            width: 38%;
            padding: 1%;
            padding-bottom: 2%;
            float: left;
            .jb-feature-brand-item {
                box-shadow: 0 -40px 80px -80px rgba(0, 0, 0, 0.5) inset;
                padding: 10px;
                border-radius: 12px;
                float: none;
                padding-bottom: 40px;
                h3 {
                    font: bold 15px @fontFamily;
                    color: #0080b7;
                    margin-top: 0;
                }
                figure {
                    float: left;
                    width: 30%;
                    img {
                        max-width: 100%;
                    }
                }
                p {
                    float: right;
                    font: normal 12px "Arial";
                    line-height: 21px;
                    margin: 0 10px 0 20px;
                    width: 58%;
                    a {
                        display: block; 
                        color: #0078a7;
                    }
                }
            }
        }
    }
    
}

.mz-baking {
    section {
        article {
            .vertImage {
                top: -12px;
            }
            h2 {
               // margin: 10px !important;
                font-weight: normal;
                //width: 64%;
                //display: inline-block;
            }
            p.mz-desktop {
                display: inline-block;
                color: #8b8b8b;
                font-size: 12px;
                text-align: right;
                padding-right: 25px;
                position: relative;
                width: 93%;
                top: -38px;
            }
            h3 {
                padding-left: 20px !important;
            }
            h4 {
                padding-left: 30px !important;
                text-align: left;
                margin-bottom: 0;
                font-size: 16px;
            }
            h5 {
                padding-left: 48px !important;
                text-align: left;
                font-size: 16px;
            }
            .padleft50 {
                padding-left: 50px;
            }
            ul.contentList {
                padding-left: 7%;
                li {
                    list-style-type: disc;
                    a {
                        font-size: 16px;
                    }
                }
            }
            .baking-recipe {
                h2 {
                    margin-left: 22px !important;
                }
                p {
                    padding-left: 20px;
                }
                .additional-info { 
                    width: 50%;
                    padding-bottom: 3%;
                    p {
                        float: left;
                        width: 64%;
                        margin: 0;
                    }
                    figure {
                        float: right;
                        width: 30%;
                    }
                }
            }
        }
    }
    
}

.mz-company-history{
    
    .owl-carousel .owl-item img{
        width: 100%;
    }
    .owl-carousel  .owl-stage-outer{
        text-align: center;
    }
    .view-port{
        width: 50%;//500px;
        margin: 0 auto;
        img {
            max-width: 100%;
        }
        .view-port-logo{
            text-align: center;
            img{
                float: left;
                display: inline-block;
                width: 30%;
                margin: 15px 0px 0px 15px;
            }
            .description{
                display: inline-block;
                width: 60%;
                float:right;
                .view-port-date{
                    font-weight: bold;
                    text-align: left;
                    font-size: 30px;
                    margin-top: 4px;
                }
                .view-port-description{
                    text-align: left;
                }
            }
        }
    }
}

.mz-store-locator {
    .mz-l-pagecontent {
        padding-left: 0 !important; 
    }
}
//ART GALLERY
.art-gallery {
    .art-gallery-content{
        text-align: center;
        margin: 45px auto;
        border: 1px solid #aaa;
        border-radius: 25px;
        padding: 0 35px;
        width: 80%;
        .art-gallery-mainhead{
            color: #777777;
            font-size: 50px;
            background-color: white;
            margin: 0 auto;
            text-align: center;
            top: -34px;
            width: 77%;
            position: relative;
        }
        .art-galleries{
            border: 1px solid #C0C0C0;
            border-left: none;
            margin: 0 auto;
            border-right: none;
            width: 93%;
            .art-galleries-head{
                display: inline-block;
                font-size: 19px;
                margin: 6px auto;
                margin-left: 1%;
                margin-right: 1%;
                cursor: pointer;
                &:hover {
                            text-decoration: underline;
                            color: #09B8FF;
                        }
            }
            .active{
                color: #09B8FF;                
            }
        }
        .art-gallery-item{
            .art-gallery-details{
                text-align: center;
                min-height: 460px;
                margin-top: 20px;
                .banner{
                    display: inline-block;
                    vertical-align: top;
                }
                
                .banner-detail{
                    display: inline-block;
                    width: 300px;
                    height: 398px;
                    text-align: left;
                    margin-left: 15px !important;
                    h3{
                        font-size: 22px;
                        margin: 4px auto;
                    }
                    .banner-dimension{
                        color: #F00;
                        font-style: italic;
                    }
                    .banner-detail-desc{
                        
                    }
                }
                
            }
        }
        .art-gallery-item-thumb{
            width: 84%;
            height: auto;
            text-align: center;
            margin: 0 auto;
            margin-bottom: 30px;
            .art-gallery-item-thumbs {
                width: 100%;
                img{
                    width: 100px !important;
                    height: 100px;
                }
            }
        }
        .owl-nav{
          .owl-next{
                top: 16%;
                right: -60px;
          }  
          .owl-prev{
            top: 16%;
            left: -60px;
          }
        } 
    }
}


//Bean boozeled css alignement

.bean-boozeled-only{
    .img-block{
        p{
            margin: 0px 0;  
            padding-left: 0px;
            font-size: 16px;
            width: auto;
        }
    }
}


@media only screen  and (min-width: 1px) and (max-width: 767px){
    .mz-footer-static {
        section { 
            margin-bottom: 60px;
        }
        .zinrelo-container {
            margin-bottom: 0;
        }
    }
}

@media only screen  and (min-width: 768px) and (max-width: 1024px){
    .mz-wed-center {
        .welcome-center {
            .wedding-banner {
                .home-features {
                    div {
                        figure {
                            width: 130px;
                        }
                    }
                }
            }
        }
    }
}

.jb-sweet-rewards-btn, .personal-calif-fac-tours-btn {
    width: 60%;
    border-radius: 4px !important;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    border: solid 1px #004e99;
    background-color: #004e99 !important;
    color: white !important;
    padding: 0 !important;
    font-size: 18px !important;
    padding: 7.5px 0 !important;
    &:hover {
        border: solid 1px #003a72 !important;
        background-color: #003a72 !important;
    }
}

.personal-calif-fac-tours-btn {
    width: 170px;
}
