{% extends "page" %}
 
{% block body-tag-classes %}mz-footer-static mz-wedding{% endblock body-tag-classes %} 
{% block body-content %}
<link href="https://fonts.googleapis.com/css2?family=Tangerine:wght@700&display=swap" rel="stylesheet"> 
{% require_script "pages/jb-wedding-center" %}
<section>
    <article class="wedding-title">
        <p class="sectionTitle">Jelly Belly Wedding Center</p>
        <img class="ring" src="//content.jellybelly.com/cachefly/Jelly-Belly/WeddingCenter/rings.gif" alt=""/>
        <div class="clearfix"></div>
    </article>
    <div class="wedding-center">
        <div class="weddingNav">
            <p class="sectionTitle whereToStartText">Wedding Guide</p>
            <img src="/resources/images/wedding/brideGroom.png" alt="Bride and Groom Silhouette"/> 
            <ul>
                <li><a href="/wedding-center">Wedding Center Home</a> &#9658;</li>
                <li><a href="/wedding-ideas">Wedding Themes</a> &#9658;</li>
                <li><a href="/wedding-color-palettes">Color Palettes</a> &#9658;</li>
                <li><a href="/wedding-featured-candy">Featured Candy</a> &#9658;</li>
                <li><a title="Candy Calculator - opens a modal" class="candyCalculatorModal" href="">Candy Calculator</a> &#9658;</li>
            </ul>
        </div>
<div class="weddingBody">
	<h2> Jelly Belly Wedding Candy: Favors, Flavors and Fun</h2>
	<p>Live happily ever after with the help of the <a href="https://www.jellybelly.com/wedding-center" style="color:#0077a2">Jelly Belly Wedding Center</a>, where you’ll find sweet-as-can-be wedding favor ideas, delightful décor and so much more to honor your dreamy wedding theme. 
	We’re all about piling on the sweetness, and what better way to do it than with your very favorite Jelly Belly flavors? From Buttered Popcorn to French Vanilla to Pomegranate, there’s no reason you shouldn’t 
	celebrate your fave beans on your big day. Move over, <a href="https://www.jellybelly.com/assorted-jordan-almonds-10-lbs-bulk/p/3035" style="color:#0077a2">Jordan Almonds</a>, because jelly beans are the next big wedding staple.</p>
	
	<h2>How to use Jelly Belly Candy in Your Wedding</h2>
	<ul>
	   <li><b>As Easy, Edible Favors&mdash;</b>It couldn’t be simpler to send your guests home with something they’ll adore! Fill individual wedding candy bags to the brim with a handful of beans in your handpicked flavors. Tie them up with a bow and adorn them so they match your theme. These DIY wedding favors always delight, and they’re so much more fun than the boring wedding mint.</li>
	   <li><b>As Part of Your Candy Buffet&mdash;</b>Can’t choose just one kind of candy? Let your guests go on a sweet-tooth-satisfying journey like no other with a well-stocked candy buffet, complete with bulk jelly beans and <a href="https://www.jellybelly.com/confections-by-jelly-belly/c/339" style="color:#0077a2">confections by Jelly Belly</a>. Set out take-home bags or boxes so your guests can snack well into the after party.</li>
	   <li><b>In Centerpieces that Charm&mdash;</b>Want to add some vibrant color to your centerpieces? Why not fill up cylindrical vases or jars with dazzling jelly beans to create a big column of color? With so many different hues and flavors, you can complement any wedding style with these delicious, bite-sized beans.</li>
	</ul>
	
	<h2>Bean-Perfect Themes</h2>
	<p>If you’re here for wedding theme ideas, head on over to our <a href="https://www.jellybelly.com/wedding-ideas" style="color:#0077a2">wedding themes page</a>. There you’ll find some excellent ideas for how to use jelly beans and other Jelly Belly candies to contribute to your wedding décor. Here are some more fabulously refreshing wedding themes you can use to capture your special sense of style.</p>
	<ul>
	   <li><b>Spring Wedding: Pretty Pastels&mdash;</b>Jelly Belly jelly beans are a springtime staple, so why not include them in your April or May wedding? Create stunningly springy creations using our <a href="https://www.jellybelly.com/jelly-belly-spring-mix-10-lbs-bulk/p/52952" style="color:#0077a2">Spring Jelly Bean Mix</a> featuring pastel blues, yellows and pinks. Our classic <a href="https://www.jellybelly.com/chocolate-dutch-mints-reg-assorted-10-lbs-bulk/p/4015" style="color:#0077a2">Chocolate Dutch Mints</a> make a great addition, too.</li>
	   <li><b>Fall Wedding: Fall-Filled Flavors&mdash;</b>Need inspo for your autumnal affair? Look no further than our <a href="https://www.jellybelly.com/autumn-jelly-bean-mix-10-lbs-bulk/p/52953" style="color:#0077a2">Autumn Jelly Bean Mix</a>, overflowing with fall-colored candies in flavors of the season (hello Red Apple and Toasted Marshmallow!). Pile on the cozy plaid and you’ve got a fab fall wedding for the books, complete with sweet treats.</li>
	   <li><b>New Year's Eve: Champagne Everything&mdash;</b>Get everyone dressed up in their finest black-tie apparel for your New Year’s nuptials with the help of Jelly Belly’s tasty, celebratory <a href="https://www.jellybelly.com/champagne-jelly-beans-10-lbs-bulk/p/52861" style="color:#0077a2">Champagne Jelly Beans</a> featuring a lifelike, bubbly flavor and a shimmery, celebratory finish. You can even hand out our candy-filled <a href="https://www.jellybelly.com/champagne-jelly-beans-1.5-oz-bottle-48-count-case/p/91213" style="color:#0077a2">mini champagne favors</a> for an especially fun way to invite guests to pop some bottles.</li>
	   <li><b>Fairytale: Royal Hues and Jewels&mdash;</b>If your vision of a dreamy wedding is to arrive by horse and carriage and don a crown, you’ll love this fabulous wedding theme. Bring it to life with any one of Jelly Belly’s shimmery <a href="https://www.jellybelly.com/flavor-guides?guide=jewelBeans" style="color:#0077a2">Jewel Jelly Beans</a> or stick to a deep, royal feel with beans in royal blue (Blueberry) or purple (Wild Blackberry).</li>
	   <li><b>Southern: Peachy Keen&mdash;</b>Having yourself a good, old-fashioned Southern wedding? How about tying it all together with a Southern-inspired candy display, complete with <a href="https://www.jellybelly.com/peach-jelly-beans/c/92" style="color:#0077a2">Peach</a>, <a href="https://www.jellybelly.com/sunkist-lemon-jelly-beans/c/84" style="color:#0077a2">Sunkist<sup>&reg;</sup> Lemon</a> (because we all know Southerners love their lemonade) and <a href="https://www.jellybelly.com/watermelon-jelly-beans/c/107" style="color:#0077a2">Watermelon</a>?</li>
	   <li><b>Woodsy: Keeping Things Rustic&mdash;</b>We don’t make a pine-flavored jelly bean (should we?) but we do have another flavor that’s totally woodsy — <a href="https://www.jellybelly.com/toasted-marshmallow-jelly-beans/c/103" style="color:#0077a2">Toasted Marshmallow</a>! We also have plenty of rustic-hued beans to tie together your color scheme, including <a href="https://www.jellybelly.com/beige-candy-and-jelly-beans/c/332" style="color:#0077a2">beige</a>, <a href="https://www.jellybelly.com/brown-candy-and-jelly-beans/c/323" style="color:#0077a2">brown</a> and hunter <a href="https://www.jellybelly.com/green-candy-and-jelly-beans/c/324" style="color:#0077a2">green</a> jelly beans.</li>
	   <li><b>Circus: Red and White Stripes&mdash;</b>We’re living for the ultra-popular circus wedding theme right now. If you’re going for this theme, incorporate <a href="https://www.jellybelly.com/red-candy-and-jelly-beans/c/329" style="color:#0077a2">red</a> and <a href="https://www.jellybelly.com/white-candy-and-jelly-beans/c/330" style="color:#0077a2">white</a> jelly beans (<a href="https://www.jellybelly.com/very-cherry-jelly-beans/c/106" style="color:#0077a2">Very Cherry</a> and <a href="https://www.jellybelly.com/coconut-jelly-beans/c/14" style="color:#0077a2">Coconut</a>, perhaps?) into your décor to honor the iconic red and white striped circus tent.</li>
	</ul>   
	  <h2>Why Serve Jelly Bellies on Your Big Day?</h2>
	  <p>We could list <a href="https://www.jellybelly.com/flavor-guides?guide=original50" style="color:#0077a2">50 reasons</a> why you should incorporate these exciting candies into your big day, but here’s the main one: these beloved candies are certified crowd-pleasers. Each and every Jelly Belly jelly bean is gluten-free, peanut-free, dairy-free, fat-free and vegetarian-friendly. They’re also certified kosher by the Orthodox Union, so they’re certain to delight guests who keep kosher. As far as good-for-a-group candy goes, no one does it like Jelly Belly, and we’d love to help you tie the knot on your special day!</p>
</div>
</section>
{{ "stylesheets/pages/wedding-center.less"|stylesheet_tag:"default" }}
{% endblock body-content %}
