.mz-checkout-digitalcredit {
    th {
        text-align: left;
        padding: @gutter/2 5px;
        color: #eee;
        background-color: #666;
        border-bottom: 1px solid #fff;
        font-size: 15px;
        &.mz-checkout-digitalcredit-header-code {
            text-align: left;
        }
        &.mz-checkout-digitalcredit-header-unlabeled {
            padding-right: 0;
            padding-left: 0;
        }
    }
    td {
        text-align: left;
        padding: @gutter/2 5px;
        &.mz-checkout-digitalcredit-cell-enable, &.mz-checkout-digitalcredit-cell-code,
        &.mz-checkout-digitalcredit-cell-savetoaccount, &.mz-checkout-digitalcredit-cell-savetoaccount-label {
            text-align: left;
            padding-right: 0;
        }
        .checkmark-style{
            top: -3px; 
        }
    }
    input {
        text-align: left;
        width: 20px;
	    height: 18px;
        &.data-mz-credit-amt-to-apply {
            text-align: right;
            width: 100px;
        }
    }

   

    

}
