.mz-checkout-digitalcredit {
    th {
        text-align: left;
        padding: @gutter/2 5px;
        color: #eee;
        background-color: #666;
        border-bottom: 1px solid #fff;
        font-size: 15px;
        &.mz-checkout-digitalcredit-header-code {
            text-align: left;
        }
        &.mz-checkout-digitalcredit-header-unlabeled {
            padding-right: 0;
            padding-left: 0;
        }
    }
    td {
        text-align: left;
        padding: @gutter/2 5px;
        &.mz-checkout-digitalcredit-cell-enable, &.mz-checkout-digitalcredit-cell-code,
        &.mz-checkout-digitalcredit-cell-savetoaccount, &.mz-checkout-digitalcredit-cell-savetoaccount-label {
            text-align: left;
            padding-right: 0;
        }
        .checkmark-style{
            top: -3px; 
        }
    }
    input {
        text-align: left;
        width: 20px;
	    height: 18px;
        &.data-mz-credit-amt-to-apply {
            text-align: right;
            width: 100px;
        }
    }
    .sweetrewards{
        text-align: left;
        font-size: 18px;
        color:#000;
        padding: 0; 
        a{
            color:#004e99;
        }
    }
   
    @media only screen and (min-width : 1px) and (max-width : 767px)  {
        .innerclass{
            border: 3px solid#cfcfcf;
            border-radius: 4px;
            padding: 10px 10px;
            margin-bottom:10px;
            .innercontent{
                display: flex;
                display: -webkit-box;
                display: -moz-box;
                display: -ms-flexbox;
                display: -webkit-flex;
                flex-direction: row;
                -webkit-flex-direction: row;
               -ms-flex-direction: row;
            
               .tablerows{ 
                padding: 5px 0 5px 40px;
                align-items:start;
                flex-direction: column;
                -webkit-flex-direction: column;
                -ms-flex-direction: column;
                 width: 50%; 
                 &:nth-child(even){
                    text-align:right;
                }
                    .checkbox-outer-label{
                        .checkmark-style{
                            left:-40px;
                            top:13px !important;
                            margin-left: 0;
                        }
                    } 
                    .mz-checkout-digitalcredit-cell-code{
                        .mz-checkout-digitalcredit-code{
                            font-weight: bold;
                        }
                      }

                    .mz-checkout-digitalcredit-cell-balance{
                        font-weight: bold;
                        font-size: 22px;
                        padding: 10px 0 0;
                    }
                    input.data-mz-credit-amt-to-apply{
                        height: 40px;
                        text-align: left;
                        width: 100%;
                        border: 3px solid #cfcfcf;
                        border-radius: 4px;
                        padding: 0 10px;
                    }
                    
                    .mz-paymenttype{
                        vertical-align: top;
                    }
                }
            }
        }
    }
    

}
